<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="rr.com.chapter5.mapper.EmployeeMapper">
    <cache/>
    <resultMap id="employeeMap" type="rr.com.chapter5.pojo.Employee">
        <result column="id" property="id"></result>
        <result column="real_name" property="realName"/>
        <result column="sex" property="sex" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"></result>
        <result column="birthday" property="birthday"/>
        <result column="email" property="email"/>
        <result column="mobile" property="mobile"/>
        <result column="POSITION" property="position"/>
        <result column="note" property="note"/>
        <association property="workCard" column="id" select="rr.com.chapter5.mapper.WorkCardMapper.getWorkCard" fetchType="lazy"></association>
        <collection property="employeeTaskList" column="id" fetchType="lazy" select="rr.com.chapter5.mapper.EmployeeTaskMapper.getEmployeeTaskByEmpId">
        </collection>
        <discriminator javaType="int" column="sex">
            <case value="2" resultMap="femaleHealthFormMap">
            </case>
            <case value="1" resultMap="maleHealthFormMap">
            </case>
        </discriminator>
    </resultMap>
    <resultMap id="femaleHealthFormMap" type="rr.com.chapter5.pojo.FemaleEmployee" extends="employeeMap" >
        <association property="femaleHealthForm" column="id" select="rr.com.chapter5.mapper.FemaleHealthFormMapper.getFemaleHealthForm">
        </association>
    </resultMap>
    <resultMap id="maleHealthFormMap" type="rr.com.chapter5.pojo.MaleEmployee" extends="employeeMap" >
        <association property="maleHealthForm" column="id" select="rr.com.chapter5.mapper.MaleHealthFormMapper.getMaleHealthForm">
        </association>
    </resultMap>
    <sql id="allColumn">
        id,real_Name,sex,birthday,mobile,email,POSITION ,note
    </sql>
    <select id="getEmployee" resultType="long" resultMap="employeeMap">
        select <include refid="allColumn"/>  from t_employee where id=#{id}
    </select>
    <select id="getEmployeeByNames" resultType="long" resultMap="employeeMap">
        select <include refid="allColumn"/>  from t_employee where name like contact ('%',#{name},'%')
    </select>
</mapper>